name: ci

on:
  pull_request:
    branches: [ "master", "dev" ]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - '.gitignore'


on:
  pull_request:
    branches: [ '**' ]
    paths-ignore:
      - '**.md'
      - '**.excalidraw'
      - 'LICENSE'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache: true

      - name: Build
        run: make build
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./...
